<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "myBooks" %></title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag :defaults %>  
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>
    <% flash.each do |name, msg| %>  
    <%= content_tag :div, msg, :id => "#{name}" %>  
  <% end %>  

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">myLibrary</a>
          <div class="container nav-collapse">
            <ul class="nav">
              <li><%= link_to "myGithub", "https://github.com/apiasecka/ASI" %>
			  <li><nav id="authentication">
				<% if current_user %>
				Welcome <%= current_user.email %>!
				<%= link_to "Log out", logout_path %>
				<% else %>
				<%= link_to "Register", register_path %> or
				<%= link_to "Log in", login_path %>
				<% end %>
			  </nav></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span12">
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; 2012/13 by ASI</p>
      </footer>
    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


  </body>
</html>
